<html>
<head>
 <title><%=@title%></title>
         
         <%= stylesheet_link_tag 'networks2', :media => 'all' %>         
         <%= csrf_meta_tags %>  
         <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<%= render 'layouts/navigate'%>
<body class="hero-unit">	
<div>
<h1>Manage your Networks</h1>
<p>You can add links and integrate other networks / services to your WorkFu profile. Click the icons to add or remove.</p>
</div>
<div id="wrapper" class="container">
	<section role="main">
		<div class="networks" style="display: block;">
	<table>
		<tr>
			<td>
				<a class="twitter" href="#" id="twitter">					
					
					<span class="img">						
						<%= image_tag("networks/twitter.png", :alt => "twitter", :title => "twitter") %>			
					</span>										
				</a>		
				<span class="text">Twitter</span>							
			</td>
			<td>				
				<a class="linkedin" href="#" id="linkedin">										
					<span class="img">
						<%= image_tag("networks/linkedin.png", :alt => "linkedin", :title => "linkedin") %>			
					</span>
				</a></br>		
				<span class="text">LinkedIn</span>
			</td>
			<td>
				<a class="zerply" href="#" id="zerply">					
				<span id="zerply2" class=""></span>									
					<span class="img">
						<%= image_tag("networks/zerply.png", :alt => "zerply", :title => "zerply") %>			
					</span>					
				</a></br>
				<span class="text">Zerply</span>				
			</td>
			<td>
				<a class="dribbble" href="#" id="dribbble">
				<span id="dribbble2" class=""></span>					
					<span class="img">
						<%= image_tag("networks/dribbble.png", :alt => "dribbble", :title => "dribbble") %>			
					</span>					
				</a></br>	
				<span class="text">Dribbble</span>
			</td>
			<td>
				<a class="github" href="#" id="github">					
					<span class="img">
						<%= image_tag("networks/github.png", :alt => "github", :title => "github") %>			
					</span>					
				</a></br>	
				<span class="text">GitHub</span>
			</td>
			<td>
				<a class="stackoverflow" href="#" id="stackoverflow">					
					<span class="img">
						<%= image_tag("networks/stackoverflow.gif", :alt => "stackoverflow", :title => "stackoverflow") %>			
					</span>					
				</a>
				<span class="text">Stackoverflow</span>
			</td>
		</tr>
		<tr>
			<td>
				<a class="forrst" href="#" id="forrst">					
					<span class="img">
						<%= image_tag("networks/forrst.png", :alt => "forrst", :title => "forrst") %>			
					</span>					
				</a>		
				<span class="text">Forrst</span>	
			</td>			   
			<td>
				<a class="facebook" href="#" id="facebook">
				<span id="facebook2" class=""></span>						
					<span class="img">
						<%= image_tag("networks/facebook.png", :alt => "facebook", :title => "facebook") %>			
					</span>					
				</a>		
				<span class="text">Facebook</span>	
			</td>			
			<td>
				<a class="ffffound" href="#" id="ffffound">	
				<span id="ffffound2" class=""></span>				
					<span class="img">
						<%= image_tag("networks/ffffound.png", :alt => "ffffound", :title => "ffffound") %>			
					</span>					
				</a>		
				<span class="text">FFFFound</span>	
			</td>			
			<td>
				<a class="instagram noshadow" href="#" id="instagram">					
					<span class="img">
						<%= image_tag("networks/instagram.png", :alt => "instagram", :title => "instagram") %>			
					</span>					
				</a>		
				<span class="text">Instagram</span>	
			</td>
			<td>
				<a class="treehouse" href="#" id="treehouse">
				<span id="treehouse2" class=""></span>					
					<span class="img">
						<%= image_tag("networks/treehouse.png", :alt => "treehouse", :title => "treehouse") %>			
					</span>					
				</a>		
				<span class="text">Treehouse</span>	
			</td>
			<td>
				<a class="tumblr" href="#" id="tumblr">					
					<span class="img">
						<%= image_tag("networks/tumblr.png", :alt => "tumblr", :title => "tumblr") %>			
					</span>					
				</a></br>
				<span class="text">Tumblr</span>	
			</td>
		</tr>
		<tr>
			<td>
				<a class="flickr off disabled" href="#">					
					<span class="img">
						<%= image_tag("networks/flickr.png", :alt => "flickr", :title => "flickr") %>			
					</span>					
				</a></br>
				<span class="text">Flickr</span>	
			</td>
			<td>
				<a class="vimeo off disabled" href="#">					
					<span class="img">
						<%= image_tag("networks/vimeo.png", :alt => "vimeo", :title => "vimeo") %>			
					</span>					
				</a></br>
				<span class="text">Vimeo</span>	
			</td>
			<td>
				<a class="youtube off disabled" href="#">					
					<span class="img">
						<%= image_tag("networks/youtube.gif", :alt => "youtube", :title => "youtube") %>			
					</span>					
				</a></br>
				<span class="text">YouTube</span>	
			</td>
			<td>
				<a class="soundcloud noshadow off disabled" href="#">					
					<span class="img">
						<%= image_tag("networks/soundcloud.png", :alt => "soundcloud", :title => "soundcloud") %>			
					</span>					
				</a></br>
				<span class="text">Soundcloud</span>	
			</td>
		</tr>
	</table>	
</div>
</section>
</div>

    <script>
    $("#twitter").click(function () {     
      var answer = confirm("Associate your Twitter account and enable WorkFu to display useful information and statistics on your profile. Activate?");
        if(answer)        
        	window.location = "http://www.twitter.com"        
        }); 
    $("#linkedin").click(function () {     
      var answer = confirm("Associate your LinkedIn account and enable WorkFu to display useful information and statistics on your profile. Activate?");
        if(answer)        
        	window.location = "http://www.linkedin.com"        
        }); 
    $("#github").click(function () {     
      var answer = confirm("Associate your GitHub account and enable WorkFu to display useful information and statistics on your profile. Activate?");
        if(answer)        
        	window.location = "http://www.github.com"        
        }); 
    $("#stackoverflow").click(function () {     
      var answer = confirm("Associate your Stackoverflow(Stackexchange) account and enable WorkFu to display useful information and statistics on your profile. Activate?");
        if(answer)        
        	window.location = "http://www.stackexchange.com"        
        }); 
    $("#forrst").click(function () {     
      var answer = confirm("Associate your Forrst account and enable WorkFu to display useful information and statistics on your profile. Activate?");
        if(answer)        
        	window.location = "http://www.forrst.com"        
        }); 
    $("#instagram").click(function () {     
      var answer = confirm("Associate your Instagram account and enable WorkFu to display useful information and statistics on your profile. Activate?");
        if(answer)        
        	window.location = "http://www.instagram.com"        
        });
    $("#tumblr").click(function () {     
      var answer = confirm("Associate your Tumblr account and enable WorkFu to display useful information and statistics on your profile. Activate?");
        if(answer)        
        	window.location = "http://www.tumblr.com"        
        });

    $("#zerply").click(function () {    	
     var str = $('#zerply2').attr('class');
     if(str != "active")
     {
      var answer = prompt("Enter your Zerply username to add as a link on your profile. http://zerply.com/", "your username");
        if((answer.length > 0)&&(answer != "your username"))
        {        	
        	$('#zerply2').attr('class', 'active');
        	params["zerply"] = 1;
        }
     }
     else
     {
     	var answer2 = confirm("Are you sure?");
     	if(answer2)
     	{
     	     	$('#zerply2').attr('class', ' ');
     	     	params("zerply") = 0;;
     	     }
     }

        });

    $("#dribbble").click(function () { 
    var str = $('#dribbble2').attr('class');
     if(str != "active")
     {    
      var answer = prompt("Enter your Dribbble username to add as a link on your profile. http://dribbble.com/", "your username");
        if((answer.length > 0)&&(answer != "your username"))
        {        	
        	$('#dribbble2').attr('class', 'active');
        }
    }
    else
     {
     	var answer2 = confirm("Are you sure?");
     	if(answer2)
     	     	$('#dribbble2').attr('class', ' ');
     }
        });

    $("#facebook").click(function () { 
    var str = $('#facebook2').attr('class');
     if(str != "active")
     {     
      var answer = prompt("Enter your Facebook username to add as a link on your profile. http://www.facebook.com/", "your username or id");
        if((answer.length > 0)&&(answer != "your username or id"))
        {        	
        	$('#facebook2').attr('class', 'active');
        }
    }
    else
     {
     	var answer2 = confirm("Are you sure?");
     	if(answer2)
     	     	$('#facebook2').attr('class', ' ');
     }
        });

    $("#ffffound").click(function () {
    var str = $('#ffffound2').attr('class');
     if(str != "active")
     {      
      var answer = prompt("Enter your FFFFound username to add as a link on your profile. http://ffffound.com/home/", "your username");
        if((answer.length > 0)&&(answer != "your username"))
        {        	
        	$('#ffffound2').attr('class', 'active');
        }
    }
    else
     {
     	var answer2 = confirm("Are you sure?");
     	if(answer2)
     	     	$('#ffffound2').attr('class', ' ');
     }
        });

    $("#treehouse").click(function () {     
    	var str = $('#treehouse2').attr('class');
     if(str != "active")
     { 
      var answer = prompt("Enter your Treehouse username (not your user id) and enable WorkFu to display useful information and statistics on your profile. http://teamtreehouse.com/", "your username");
        if((answer.length > 0)&&(answer != "your username"))
        {        	
        	$('#treehouse2').attr('class', 'active');
        }
    }
    else
     {
     	var answer2 = confirm("Are you sure?");
     	if(answer2)
     	     	$('#treehouse2').attr('class', ' ');
     }
    }); 

    $(document).ready(function () {
    	//var result =params["zerply"];
    if( result== 1)
    	$('#zerply2').attr('class', 'active');

}); 

</script>

</body>
<%= render 'layouts/footer'%>   
</html>     