<body <body class="hero-unit">
	<%= render 'layouts/navigate'%>
<div class="container">
<div class="hero-unit">
	<h1>Your keywords</h1>
	<p>The following are keywords that best represent your expertise, interests & skill-set. You can add or delete as you please, hold & drag to update the order and importance of your keywords.</p>
<%if current_user.keywords.count <= 20%>
      <%= form_for keywords_path do |f| %>
         <div >	
	       <%=f.text_field :keyword, :class=>"input-xlarge"%>
	       <%=current_user.keywords.count%>/20
        </div>
        <div >
	       <%=f.submit "Add", :class =>"btn btn-primary btn-large" %>
        </div>
      <%end%>
<%else%>
<div class="alert alert-error">
	Attention! The keywords is to match!    
</div>
<%end%>
<ul class="nav nav-pills pull-right">
    <li><a href="#">Home</a>
    </li>
    <li><a href="#">Page1</a></li>
    <li><a href="#">Page2</a></li>
    </ul>
</div>
</div>
    <%= render 'layouts/footer'%>   
</body>     