<body <body class="hero-unit">
	<%= render 'layouts/navigate'%>
<div class="container">
<div class="hero-unit">
	<h1>Your keywords</h1>
	<p>The following are keywords that best represent your expertise, interests & skill-set. You can add or delete as you please, hold & drag to update the order and importance of your keywords.</p>
<%if current_user.keywords.count <= 20%>
      <%= form_for [current_user, Keyword.new] do |f| %>
         <div >	
	       <%=f.text_field :keyword, :class=>"input-xlarge"%>
	       <%=current_user.keywords.count%>/20
        </div>
        <div >
	       <%=f.submit "Add", :class =>"btn btn-primary btn-large" %>
        </div>
      <%end%>
<%else%>
<div class="alert alert-error">
	Attention! The keywords is to match!    
</div>
<%end%>
<ul class="nav nav-pills">

          <% current_user.keywords.each do |keyword|%>

          <li><a class="close"><%= keyword.keyword %></a>
            <%= link_to "x", keyword, :method=>:delete, :confirm=>"Are you sure?"%>
          </li>
          <%end%>

    </ul>
    <ul class="nav nav-pills">
      <li><a class="close">Sports</a></li><li><%= link_to "||", [current_user, Keyword.new], :confirm=>"Are you sure?"%></li>
    </ul>
</div>
</div>
    <%= render 'layouts/footer'%>   
</body>     