<div class="row-fluid" align="left">
	<div class="span12" >
Level 1 of column
    <div class="row-fluid">
       <div class="span6">
       	<h1>It's good to see you <%=current_user.first_name%></h1>
       	<p>We're launching the full beta on the 21st of May. In the meantime please update & prepare your 'Smart Profile'.</p>
       </div>
           <div class="span6">
            <p style:"fomt-size:20px"><%=@user.first_name%> <%=@user.last_name%></p>
            <%= image_tag @user.avatar.url, :size => "128x128" %>            
                       
          </div>
           <%=link_to "go to AJAX", ajax_path%>
    </div>
    </div>
</div>