<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <%= csrf_meta_tags %>
         <%= stylesheet_link_tag 'application', :media => 'all' %>
         <%= javascript_include_tag 'applicattion' %>      
  </head>
<body>
	<header>
	<div class="container">
		
	<div/>	
    </header>
         <section class="round">
            <%= yield %>
         </section>         
    <footer>
    	<%= yield %>
    </footer>
</body>
</html>