<header>
		<a href="http://workfu.com/" title="WorkFu" align="WorkFu.com"><%= image_tag("workfu_logo.png", :alt => "WorkFu", :class => "round") %></a>
		<nav class="round">
          <ul>            
            <!--<li><%= link_to "Opportunities", '' %></li>-->
            <li><%= link_to "Create/Manage", 'create_manage_path' %></li>
            <li><%= link_to "Your Applications", '#' %></li>
            <li><%= link_to "Your Profile", '#' %></li>
            <li><%= link_to "Messages", 'messages_path' %></li>
            <li><%= link_to "Settings", '#' %></li>
            <li><%= link_to "Logout", '#' %></li>
          </ul>
        </nav>
	</header>