<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
         <%= csrf_meta_tags %>
         <%= stylesheet_link_tag 'application', :media => 'all' %>
         <%= javascript_include_tag 'applicattion' %>     
</head>
<body >	
	     <%= render 'layouts/navigate'%>
       <section>
         <div class="container">
            <%= yield %>
         <div/>
       </section>
       <%= render 'layouts/footer'%>        
       </div>
</body>
</html>
