<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
         <%= csrf_meta_tags %>
         <%= stylesheet_link_tag 'application', :media => 'all' %>
         <%= javascript_include_tag 'applicattion' %>     
</head>
<body>
	<header>
       
	     <div class="container">
             <ul class="nav nav-pills">                        
                 <li class="active"><%= link_to "Update your Bio", update_your_bio_path %></li>
                 <li><%= link_to "Refine your Keywords", refine_your_keywords_path %></li>
                 <li><%= link_to "Add other networks", add_other_networks_path %></li>
                 <li><%= link_to "Reading List", reading_list_path %></li>            
                 <li><%= link_to "Preview your Profille", preview_your_profille_path %></li>
             </ul>
         </div>
         <%= yield %>
   </header>
</body>